
      <app-cabecero
      [presupuestoTotal]="getPresupuestoTotal()"
      [ingresoTotal]="getIngresoTotal()"
      [egresoTotal]="getEgresoTotal()"
      [porcentajeTotal]="getPorcentajeTotal()"
      ></app-cabecero>
      
      <div class="container-fluid">

<app-formulario></app-formulario>

<div class="container limpiarEstilos">
      <div class="position-relative row">
            <div class="col-md-6 pt-5">
                  <app-ingreso></app-ingreso>
            </div>
            <div class="col-md-6 pt-5">
                  <app-egreso [ingresoTotal]="getIngresoTotal()"></app-egreso>
            </div>
      </div>
</div>